doctype html
html 
  head
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/css/style.css')

body
  h1 Introducción
  h2 Descripción
  p= description
  h2 Objetivos
  p #{target}
  p(styles="width: 60px")= lorem

  main.contenido
    each noticia in news
      .caja
        img(src=`${images}`, alt="artwork-01.jpg")
        .caja__content: p=noticia

        

  footer= footer