extends ../layout/index
block content
    h1 Introducción
    h2 Descripción
    p= description
    h2 Objetivos
    p #{target}
    p= lorem

    main.contenido
    each noticia in news
      ul.caja
        img(src=`${images}`, alt="artwork-01.jpg")
        .caja__content: li=noticia

    footer= footer